<!DOCTYPE html>
<html>
    <head>
        <title>Gadowa strona</title>
    </head>

    <body>
        To jest gadowa strona <%= 2 +2 %> <br />
        
        <%= params[:param1] %>
        
        
        <br />
        <p>
          Parametr = <%= @param1  %>
            
        </p>
        
        
        
        <hr>
        <%= params.inspect %>
        
    </body>
</html>
