<h1>Nowa kategoria</h1>
<%= link_to("Powrot", {:action=>'index'} ) %>

<%= form_for(:kategoria, :url=> {:action => 'utworz'}) do |pole| %>
  <%= render(:partial => "form", :locals => {:pole => pole}) %> 

  <div>
      <%= submit_tag("Utworz") %>
  </div>


<% end %>