<!DOCTYPE html>
<html>
    <head>
        <title>Kursy</title>
        <%= stylesheet_link_tag('application', :media => 'all' ) %>
        <%= javascript_include_tag('application') %>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

    <div class="container">
        <%= yield %>
    </div>


<!-- stopka -->
<div id="footer">
    <div class="container">
        <p class="text-muted">
            StrefaKursów 2014 &copy; <a href="http://www.strefakursow.pl" target="_blank">http://www.strefakursow.pl</a>
        </p>
    </div>
</div>
</body>
</html>
